.banner {
    padding-bottom: 40px;

    margin-top: 100px;
    display: flex;
    align-items: center;
    position: relative;


    &_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #262626c4;
        }
    }

    &_background img {
        width: 100%;
        height: 100%;
        object-fit: cover;


    }

    &__content {
        position: relative;
        z-index: 2;
    }

    &_container {
        padding: 80px 16px;
        border-radius: 24px;
        position: relative;
        overflow: hidden;
        // background: var(--color-black);

    }

    &_title {
        color: var(--color-secondary);
        // max-width: 650px;
        font-family: var(--font-heading);
        font-size: 64px;
        text-transform: uppercase;
        // line-height: 77px;
        margin-bottom: 16px;

        span {

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }

    &_description {
        color: var(--color-white);
        font-size: 24px;
        line-height: 30px;
        margin-top: 16px;

    }

    &_buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 40px;
    }

}

.contact-banner {
    padding: 60px 0;
    margin: 60px 0;
    background: var(--color-light-gray);

    &_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #262626c4;
        }
    }

    &_background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &_container {
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        padding: 60px 30px;
    }

    &_content {
        position: relative;
        z-index: 2;
        max-width: 500px;
    }
}