.banner {
    padding-bottom: 40px;
    background: linear-gradient(180deg, #0000004a 0%, #000000 100%);

    &_container {
        padding: 120px 0 24px;

    }

    &_header {
        color: white;
        max-width: 650px;
        font-size: 52px;
        margin-bottom: 16px;

    }

    &_description {
        color: white;
        font-size: 26px;
        line-height: 32px;
        margin-top: 16px;
        max-width: 630px;
    }

    &_buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 64px;
    }

}