.blogs {

    padding-block: 30px;

    &_btn {
        margin-top: 24px;
        display: flex;
        justify-content: center;

        .btn {
            color: #000;
            border: 2px solid black;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    &_wrapper {}

    &_cards {
        border-radius: 25px;

        &-content {
            margin-top: 24px;
        }

        &-date {
            font-size: 19px;
            font-weight: 500;
            line-height: 23px;
            color: #777;
        }

        &-heading {
            font-size: 26px;
            margin-bottom: 8px;
            font-weight: 500;
            margin-top: 24px;
            line-height: 31px;
        }

        &-description {
            color: #777;
            font-size: 16px;
            font-weight: 400;
            line-height: 29px;

        }

        &-image {

            img {
                width: 100%;
                border-radius: 25px;
            }
        }
    }

}