.blogs {

    padding-block: 30px;

    &_btn {
        margin-top: 24px;
        display: flex;
        justify-content: center;

        .btn {
            color: #000;
            border: 2px solid black;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }


    &_cards {
        border-radius: 12px;
        text-decoration: none;
        color: var(--color-black);
        display: block;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        &-content {
            padding: 16px 24px;
        }

        &-date {
            font-size: 12px;
            font-weight: 300;
            line-height: 23px;
            color: #777;
            display: flex;
            align-items: center;
            gap: 6px;
        }

        &-heading {
            font-size: 24px;
            margin-bottom: 8px;
            font-weight: 500;

            line-height: 32px;
        }

        &-description {
            color: #777;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            margin-top: 16px;

        }

        &-image {
            width: 100%;
            // border-radius: 25px;
            overflow: hidden;

            // &:hover {
            //     img {
            //         transform: scale(1.1);
            //     }
            // }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease-in-out;
            }
        }
    }

}