.chat {
    display: flex;
    flex-direction: column-reverse;
    height: 25rem;
    font: 1rem/1.5 var(--font-family);
    color: var(--color-b);
    position: relative;
    overflow: hidden;

    &__inner {
        display: flex;
        flex-direction: column;
        padding: .75rem;
    }

    @media (max-width: 767px) {
        margin-top: 24px;
    }

}

.chat {

    p {
        margin: 0;
        padding: 0;
    }

    &__message {
        width: 75%;
        display: flex;
        align-items: flex-end;
        transform-origin: 0 100%;
        padding-top: 0;
        transform: scale(0);
        max-height: 0;
        overflow: hidden;
        animation: message .15s ease-out 0s forwards;
        animation-delay: var(--timeline);

        --bgcolor: #E8E2D9;
        --radius: 12px 12px 12px 0;

        &_B {
            flex-direction: row-reverse;
            text-align: right;
            align-self: flex-end;
            transform-origin: 100% 100%;

            --bgcolor: #F5F0E0;
            --radius: 12px 12px 0 12px;
        }

        &::before {
            content: "";
            flex: 0 0 40px;
            aspect-ratio: 1 / 1;
            background: var(--bgcolor);
            border-radius: 50%;
        }
    }

    &__content {
        flex: 0 1 auto;
        padding: 1rem;
        margin: 0 .5rem;
        background: var(--bgcolor);
        border-radius: var(--radius);
    }

}

@keyframes message {
    0% {
        max-height: 100vmax;
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
        max-height: 100vmax;
        overflow: visible;
        padding-top: 1rem;
    }
}