.dealers {
    padding-block: 60px;

    &_title {
        font-size: 139px;
        margin-bottom: 8px;
        font-weight: 700;
        color: #e7e7e7;
        line-height: 167px;

    }

    &_wrapper {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;

    }

    &_cards {
        width: calc((100% - 72px) / 4); // 3 gaps of 24px between 4 cards
        border-radius: 25px;

        &-heading {
            font-size: 26px;
            margin-bottom: 8px;
            font-weight: 500;
            margin-top: 24px;
            line-height: 31px;
        }

        &-description {
            color: #777;
            font-size: 16px;
            font-weight: 400;
            line-height: 29px;

        }

        &-image {

            img {
                width: 100%;
                border-radius: 25px;
            }
        }

    }



}