.pricing {
    padding-block: 60px;
    background-color: var(--color-light-gray);

    &-card-radio {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;

        &:checked {
            &+.pricing-card {
                box-shadow: 0 8px 30px rgb(31 90 133 / 48%);
                background-color: var(--color-black);
                color: var(--color-white);
            }
        }
    }

    &-card {
        background-color: var(--color-white);
        padding: 24px;
        height: 100%;
        border-radius: 12px;
        box-shadow: 0 8px 30px rgb(31 90 133 / 22%);
        transition: all 0.4s ease;

        input:checked+&,
        &:hover,
        &.active {
            box-shadow: 0 8px 30px rgb(31 90 133 / 48%);
            background-color: var(--color-black);
            color: var(--color-white);

            .pricing-card-title {
                color: var(--color-white);
            }

            .pricing-card-price {
                color: var(--color-white);
            }

            .pricing-card-feature {
                color: var(--color-white);
            }
        }
    }

    &-card-title {
        font-family: "Geist", sans-serif;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: var(--color-black);
        text-align: center;
        margin-bottom: 24px;

    }

    &-card-price {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-black);
        font-family: "Geist", sans-serif;
        text-align: center;
        font-weight: 600;
        margin: 12px;
        padding: 8px;
        border-radius: 12px;
        box-shadow: 0 8px 30px rgba(31, 90, 133, 0.48);
    }

    &-card-features {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-bottom: 8px;
    }

    &-card-feature {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-black);
    }
}