.stats {
    padding-block: 30px;

    &_card {
        max-width: 250px;
        margin: 0 auto;
        text-align: center;
    }

    &_card-image {
        position: relative;
    }

    &_card-percentage {
        // position: absolute;
        font-family: "Geist", sans-serif;
        font-size: 52px;
        line-height: 48px;
        font-weight: 700;
        margin-block: 32px;
        display: block;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
}