.testimonials {
    margin: 60px 0;
    padding-block: 60px;
    background-color: var(--color-light-gray);

    &_card_image {
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 12px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_card {
        background-color: var(--color-white);
        padding: 24px;

        border-radius: 12px;
    }

    .image-slider {
        aspect-ratio: 1/1;
        padding-inline: 54px;

    }

    .content-slider {
        margin: auto;
        max-width: 500px;
    }
}