.header {
    background-color: var(--color-white);
    padding-block: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease-in-out;

    // &--transparent {
    //     background-color: transparent;

    //     .navbar-brand,
    //     .menu-link {
    //         color: var(--color-white) !important;
    //     }

    //     .menu-link::after {
    //         background-color: var(--color-white) !important;
    //     }

    //     .dropdown-btn-icon {
    //         polyline {
    //             stroke: var(--color-white) !important;
    //         }
    //     }

    //     // .menu-link:hover {
    //     //     color: var(--color-black);
    //     // }
    // }

    .dropdown-btn-icon {
        polyline {
            stroke: var(--color-black);
        }
    }

    .navbar-brand {
        font-family: var(--font-heading);
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0.04em;
        color: var(--color-black);
    }

    .menu-link {
        color: var(--color-black);
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        text-transform: uppercase;
        padding: 8px 16px;
        font-family: var(--font-family);
        text-decoration: none;
        position: relative;
        letter-spacing: 0.12em;
        display: inline-block;

        @media (max-width: 767px) {
            padding: 8px 0;
        }

        &::after {
            content: '';
            display: block;
            width: 0%;
            height: 2px;
            background-color: var(--color-primary);
            transition: width 0.3s ease-in-out;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}