header {
    color: pink;
}

.header {
    background-color: transparent;
    padding-block: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    .menu-link {
        color: var(--color-black);
        font-size: 14px;
        line-height: 29px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 8px 16px;
        font-family: "Geist", sans-serif;
        text-decoration: none;
        position: relative;
        letter-spacing: 3.8px;
        display: inline-block;

        @media (max-width: 767px) {
            padding: 8px 0;
        }

        &::after {
            content: '';
            display: block;
            width: 0%;
            height: 2px;
            background-color: var(--color-black);
            transition: width 0.3s ease-in-out;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}